@tailwind base;
@tailwind components;
@tailwind utilities;

:root{
    --primary-color: #FBFBFE;
    --secondary-color: #818EFF;
    --third-color:  #B8BFFF;

    --fourth-color: #de3bff;
    --text-color:#f7f6ff;
    --test-color:#6C8EFF
  }

  body {
    font-family: 'Poppins', sans-serif;
  }